*{
    font-family:  Optima;
}

body{
    background-color: rgb(214, 244, 255);
}

div#letreiro, div#cabo{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.199);
    background-color: rgb(212, 176, 129);
    color: white;
    margin: 0px auto;
    display: block;
    font-size: larger;
    text-align: center;
}

div#letreiro{
    position: relative;
    width: fit-content;
    height: 130px;
    padding: 70px;
    border-radius: 5%;
}

div#cabo{
    height: 170px;
    width: 60px;
    padding: 0px;
    border-radius: 0;
}

div#tela{
    margin-top: 10px;
}

p{
    color: black;
    font-size: 55px;
    margin: 0px auto;
}

input{
    margin: 0px auto;
    margin-top: 20px;
}

img#voltar{
    position: absolute;
    width: fit-content;
    padding: 10px;
    top: 10px;
    left: 10px;
    background-color: rgba(245, 222, 179, 0);
    border-radius: 100%;
}

img#voltar:hover{
    color: black;
    background-color: rgba(180, 158, 98, 0.233);
    
}

img#voltar:active{
    background-color: rgba(180, 158, 98, 0.466);
}

input[type="submit"]{
    background-color: white;
    width: 80px;
    border: 0px;
    height: 40px;
}
input[type="submit"]:hover{
    background-color: rgb(180, 158, 98);
    color:white
}

p:hover{
    color: rgb(161, 161, 250);
}